.btn-login {
    background-color: #fefefe;
    border: 2px solid #00a9d9;
    color: black;
    font-size: 18px;
    margin-top: 45px;
    width: 100px;
}

.btn-login:hover {
    background-color: #00a9d9;
    border: 2px solid #505f6e;
    color: #fefefe;
}

.inp-nickname {
    border: none;
    border-bottom: 1px solid #00a9d9;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.inp-nickname:focus {
    border-bottom: 1px dashed #00a9d9;
    outline: none;
}

.login-container, .formy {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-container {
    padding: 30px;
    width: 40%;
}